.highlight {
    color: light-dark(var(--mantine-color-red-7), var(--mantine-color-red-7)) !important;
    font-size: 40px;
    @media (max-width: $mantine-breakpoint-md) {
      font-size: 20px;
    }
  }
  