.dg {
    display: block;
    margin-left: 0;
    margin-right: auto;
    padding: var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
}
  
.dgtext {
    border-radius: rem(5px);
}
.table {
    height: calc(100vh - var(--mantine-header-height, 0px))
}
.thead {
    background-color: light-dark(#f8f9fa, var(--mantine-color-dark-6)) !important;
    z-index: 100;
}