.dg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
}
  
.dgtext {
    border-radius: rem(5px);
}
.table {
    height: calc(100vh - 59- 16) !important;
}
.thead {
    background: var(--_card-bg);
    z-index: 100;
}